version: "3.9"

#services中的每个服务都会在单独的容器内运行
services:

  #后端服务容器，其他容器可通过容器网络（http://backend:8080/）访问
  backend: 
    #通过后端文件中的Dockerfile构建镜像
    build:
      context: ./backend
      dockerfile: Dockerfile
    #创建容器
    container_name: container_backend
    #端口映射，宿主机的8080端口映射到该容器的8080端口
    ports:
      - "8080:8080"
    #容器网络，网络名称相同的容器可互相通信
    networks:
      - net 
      
  #前端服务容器
  frontend:
    image: nginx
    #创建容器
    container_name: container_frontend
    #端口映射，宿主机的80端口映射到该容器的80端口
    ports:
      - "80:80"
    #数据卷挂载
    volumes:
      #宿主机的./frontend/nginx.conf文件挂载到容器的/etc/nginx/nginx.conf
      - "./frontend/nginx.conf:/etc/nginx/nginx.conf"
      #宿主机的./frontend/html文件挂载到容器的/usr/share/nginx/html
      - "./frontend/html:/usr/share/nginx/html"
    depends_on:
      - backend
     #容器网络，网络名称相同的容器可互相通信
    networks:
      - net
      
#定义容器网络
networks:
  net:
    driver: bridge